footer {
  text-align: center;
  line-height: 15pt;
}

i.fa-search {
  color: white;
  font-size: 12pt;
}

i.fa-thermometer-quarter {
  font-size: 90px;
  color: blue;
  font-size: 40pt;
  position: relative;
  padding: 30px;
}

i.fa-sun {
  font-size: 40pt;
  margin-left: -10px;
  margin-top: -20px;
}

i.fa-moon {
  font-size: 40pt;
  margin-left: -10px;
  margin-top: -20px;
}

ul {
  list-style: none;
}

li {
  font-weight: bold;
  color: rgb(92, 88, 88);
}

h2.currently {
  font-size: 18pt;
  color: rgb(92, 88, 88);
  font-weight: bold;
  line-height: 30pt;
  padding-top: 10px;
  text-align: center;
}

i.fa-clock {
  color: #5c5858;
}

ul.main-list {
  text-align: right;
  margin-right: 10px;
  margin-left: -30px;
  text-transform: capitalize;
}

section.fourth-row {
  text-align: center;
}

h1.searchedCity {
  color: #0278ae;
  font-size: 40pt;
  font-weight: bold;
  line-height: 30pt;
  padding: 0px 0px 18px 0px;
  text-align: center;
}
