.Weather .float-left canvas {
  height: 45pt;
  width: 45pt;
  margin-left: 10px;
  margin-top: 15px;
  display: block;
}

.Weather {
  background-color: #d9ecf2;
  border: 1px solid #0278ae;
  border-radius: 10px;
  color: #2d2e30;
  font-family: "Montserrat", sans-serif;
  margin: 25px auto;
  max-width: 600px;
  padding: 25px;
}

.Weather .temperature {
  color: #0278ae;
  font-size: 30pt;
  font-weight: bold;
  line-height: 35pt;
  margin-left: 8pt;
}

.Weather .unit {
  color: rgb(92, 88, 88);
  font-weight: bold;
  font-size: 14pt;
  position: relative;
  line-height: 1;
  top: -11px;
  margin-left: 5pt;
}

.Weather .current-sky {
  color: #0278ae;
  font-size: 20pt;
  font-weight: bold;
  line-height: 22pt;
  margin-left: 10px;
  text-transform: capitalize;
}

.Weather .col-4 {
  color: rgb(92, 88, 88);
  font-weight: bold;
  text-align: center;
}

.Weather .hourly-icon {
  margin-left: -20px;
}

.Weather .hourly-forecast {
  color: #0278ae;
  font-weight: bold;
  text-align: center;
  margin: 0px 9.5px 0px 9.5px;
}
